.filter {
    display: flex;
    width  : 100%;
    flex-wrap: wrap;
}

@media (min-width: 768px) {
    .filter__box-field {
        flex: 8;
        margin-right: 30px;
    }
    
    .filter__box-button {
        flex: 2;
    }

    .filter__field-input {
        width: 90%;
        padding: 6px 20px;
    }
    .btn-default {
        width: 100%;
    }
}

@media (max-width: 768px) {
    .filter {
        flex-flow      : column;
        align-items    : center;
        justify-content: center;
        text-align: center;
    }

    .filter__box-field {
        margin-bottom: 20px;
    }
    .filter__field-input {
        width: calc(90% - 20px);
        padding: 5px 20px;
    }
    .filter__box-field, .filter__box-button {
        width: 100%;
    }

    .filter__field-button {
        width: calc(100% - 20px);
        padding: 5px 20px;
        border    : none;
    }

    


}