.add-video {
    display: flex;
    width: 100%;
}

@media (max-height: 768px) {
    .add-video__box-field {
        margin-bottom: 20px;
    }
    .add-video {
        text-align: center;
        flex-flow      : column;
        align-items    : center;
        justify-content: center;
    }

    .add-video__field-input {
        width: calc(90% - 20px);
        padding: 5px 20px;
    }
    .add-video__box-field, .add-video__box-button {
        width: 100%;
    }

    .add-video__button {
        width: calc(100% - 20px);
        padding: 5px 20px;
        background: rgb(103,98,95);
        border: none;
        background: linear-gradient(180deg, rgba(103,98,95,1) 0%, rgba(191,178,169,1) 26%, rgba(232,222,215,1) 100%);
    }
}