<div class="add-video">
    <div class="add-video__box-field">
        <input type="text" ngModel [(ngModel)]="searchValue" class="add-video__field-input input-form-default">
    </div>
    <div class="add-video__box-button">
        <button 
            type="button" 
            class="add-video__button btn-default "
            (click)="searchVideo(searchValue)"
            [disabled]="!searchValue"
            [ngClass]="{'grey-background-disabled' : !searchValue, 'orange-background' : searchValue}"
        >
            <span *ngIf="!searchValue">Adicionar</span>
            <span *ngIf="searchValue && isUrl()">Adicionar</span>
            <span *ngIf="searchValue! && !isUrl()">Buscar</span>
        </button>
    </div>
</div>
