.header {
    padding: 25px 20px;
    width: 1170px;
}

@media (max-width: 768px) {
    .header {
        width: 100%;
        display: contents;
    }
    .header__title {
        margin: 20px;
    }
}

.header__title {
    color: #333;
    font-size: 30px;
    font-weight: 700;
}