<div class="modal">
    <div class="modal__content">
        <div class="modal__content-title">
            <div class="modal__content-title-text"><h1>Playando</h1></div>
            <div class="modal__content-title-link"><a routerLink="/home"> <i class="fa fa-times"></i> </a></div>
        </div>
        <div class="modal__content-videos">
            <tes-video-card 
                *ngFor="let video of videos; let i = index;" 
                [index]="i" 
                [video]="video"
                [isResult]="true"
                (saveVideoModal)="selectVideo($event)"
            >
            </tes-video-card>
        </div>

        <div class="modal_content-footer">
            <button 
                class="orange-background"
                (click)="saveVideoAndBackHome()"
            >
                Adicionar Video</button>
        </div>
    </div>
</div>