<div class="home">
    <div class="home__form">
        <tes-add-video
            (seachVideoByUrl)="seachVideoByUrl($event)"
        ></tes-add-video>
        <tes-divider></tes-divider>
        <tes-filter></tes-filter>
      
      </div>
    <div class="home__cards">
        <tes-video-card 
            *ngFor="let video of videos; let i = index" 
            [index]="i" 
            [video]="video"
            (stopVideo)="stopVideo($event)"
            (deleteVideo)="deleteVideo($event)"
            >

        </tes-video-card>

    </div>

</div>