<div class="video-card">
    <div class="video-card__checkbox" *ngIf="isResult">
        <span><input type="checkbox"></span>
    </div>
    <div class="video-card__content">
    <div class="video-card__content-media iframe-container">

            <!-- <img [hidden]="video.play" [src]="video.thumbnails" alt="" class="thumbnail"> -->
            <div id="player">
                <!-- <iframe
                id="player_{{index}}"
                [hidden]="!video.play"
                width="560" 
                height="315" 
                [src]="getUrlEmbad(video.id)" 
                frameborder="0"
                allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" 
                autoplay="0"
                allowfullscreen
            >
            </iframe> -->
            </div>
        
        </div>
        <div class="video-card__title">
        <p><span class="video-card__title--number">{{index + 1}}</span> {{video.title}}</p>
        </div>
        <span class="video-card__play">
            <button 
                class="video-card__play--btn orange-background"
                (click)="onPlayer(); stopAllVideo(video)"
            >
                <i class="fa fa-play" *ngIf="!video.play"></i>
                <i class="fa fa-stop" *ngIf="video.play"></i>
            </button>
        </span>
        <span class="video-card__close">
            <button type="button" (click)="deleteVideoById(video)" class="video-card__close--btn grey-background" ><i class="fa fa-times"></i></button>
        </span>
    </div>
</div>